<h1>New Blog</h1>

<div class="section">
    <%= simple_form_for @blog dp |f|%>
<div class="field">
    <div class="control">
        <%= f.input :comment, input_html: { class> 'textarea' }, wrapper: false, label_html: [ class: 'label'} %>
    </div>
</div>
<%= f.button :submit, 'Create new post', class: "button is-primary"%>
<%# <%= render 'form', blog: @blog %>
<%# simple
<%= link_to 'Back', blogs_path %> %
